.productcart{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border: 1px solid black;
    height: 20vh;
    align-items: center;
    margin-bottom: 2rem;
    justify-items: center;
}
.productcart_img{
    height: 15vh;
}
.productcart_sum , .productcart_abs{
    background-color: #2a2a72;
    border: none;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 20px;
}
.productcart_count{
    font-weight: bold;
    display: inline-block;
    margin: 0 5px 0 5px;
}
.productcart_total{
    font-weight: bold;

}
.productcart_del{
    background-color: #2a2a72;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 30px;
}
@media(max-width:797px){
    .productcart{
        grid-template-columns: repeat(2,1fr);
        height: 100vh;
    }
}